# 1. Business Understanding

The comapny wants a prediction model that will enable HR to determine if an employee will leave the company.

# 2. Data Understanding

- Source: 
- Content:
- Format: The data is in a csv format

The data has rows and columns. The columns are as follows:

- empid : Employee ID
- satisfaction_level
- last_evaluation
- number_projects
- average_monthly_hours
- time_spend_company
- work_accident
- promotion_last_5years
- salary
-left : Whether the employee left or stayed with the company

## 2.1 Data Cleaning

In [1]:
# importing libraries

import pandas as pd
import numpy as np

from matplotlib import pyplot as plt
%matplotlib inline

In [7]:
# loading data

data = pd.read_csv(r'C:\Users\w.selen.KEEMBLT0011\Desktop\Mercy\DataScience\EmployeeChurn\Employee-Churn\data\raw\HR_EmployeeData.csv')

# preview the data

data.head()

,empid,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,salary,left
0,1,0.38,0.53,2,157,3,0,0,low,1
1,2,0.80,0.86,5,262,6,0,0,medium,1
2,3,0.11,0.88,7,272,4,0,0,medium,1
3,4,0.72,0.87,5,223,5,0,0,low,1
4,5,0.37,0.52,2,159,3,0,0,low,1

In [8]:
# checking the shape of the data

print(f'The data has {data.shape[0]} rows and {data.shape[1]} columns')

The data has 14999 rows and 10 columns

In [9]:
# checking the data types of the data

data.dtypes

empid                      int64
satisfaction_level       float64
last_evaluation          float64
number_project             int64
average_montly_hours       int64
time_spend_company         int64
Work_accident              int64
promotion_last_5years      int64
salary                    object
left                       int64
dtype: object

In [11]:
# checking the statistics of the data

data.describe().T

,count,mean,std,min,25%,50%,75%,max
empid,14999.0,7500.000000,4329.982679,1.00,3750.50,7500.00,11249.50,14999.0
satisfaction_level,14997.0,0.612863,0.248634,0.09,0.44,0.64,0.82,1.0
last_evaluation,14999.0,0.716102,0.171169,0.36,0.56,0.72,0.87,1.0
number_project,14999.0,3.803054,1.232592,2.00,3.00,4.00,5.00,7.0
average_montly_hours,14999.0,201.050337,49.943099,96.00,156.00,200.00,245.00,310.0
time_spend_company,14999.0,3.498233,1.460136,2.00,3.00,3.00,4.00,10.0
Work_accident,14999.0,0.144610,0.351719,0.00,0.00,0.00,0.00,1.0
promotion_last_5years,14999.0,0.021268,0.144281,0.00,0.00,0.00,0.00,1.0
left,14999.0,0.238083,0.425924,0.00,0.00,0.00,0.00,1.0

# 3. Exploratory Data Analysis (EDA)

# 4. Modelling

# 5. Deployment